body{
    background-color: black;
}
.grid{
    background-color: black;
    padding-top: 80px;
    padding-left: 650px;
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    
}

.grid div{

   color: rgb(7, 7, 7);
    width: 140px;
    height: 140px;
    background-color: lightskyblue;
    opacity: 0.8;
    border: 4px solid rgb(0, 0, 10);
   
    padding-right: 1px;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
   
}
.grid div:hover{
  cursor: pointer;
  background-color: lightskyblue;
}
.score-container{
    text-align: center;
    color: rgb(109, 209, 240);
    font-size: 40px;
    padding-top :30px;
}
#result{
    padding-top: 60px;
    color: rgb(212, 165, 165);
    text-align: center;
    font-size: 50px;
    font-weight: bold;

}
#score{
    color:rgb(234, 235, 236);
    font-size: 50px;
    
    
    
}
.score-title{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}